body {
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-color: #19747e;
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

#footer {
  font-family: "Courier New", Courier, monospace;
}

#main-title {
  font-size: 86px;
  text-align: center;
}

@media (max-width: 768px) {
  #main-title {
    font-size: 2em;
  }
}
#text-container {
  background-color: #19747e;
}

#start-button {
  width: 120px;
}

.answer {
  background-color: #0fa4af;
  width: 250px;
  height: 250px;
}

.answer:hover {
  background-color: rgb(88, 214, 220);
}

.answer:active {
  background-color: #4fc5d2 !important;
}

#footer {
  background-color: #19747e;
  width: 600px;
  color: #a9d6e5;
}

.icon {
  transition: transform 150ms;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 768px) {
  #footer {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}
