body {
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #19747e, #ff6962);
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

#footer {
  font-family: "Courier New", Courier, monospace;
}

#main-title {
  font-size: 86px;
  text-align: center;
}

@media (max-width: 768px) {
  #main-title {
    font-size: 2em;
  }
}
#text-container {
  background: transparent;
}

#start-button {
  width: 120px;
}

.answer {
  background-color: rgba(15, 164, 175, 0.3);
  width: 250px;
  height: 250px;
}

.answer:hover {
  background-color: rgba(88, 214, 220, 0.3);
}

.answer:active {
  background-color: rgba(79, 197, 210, 0.3) !important;
}

#footer {
  background: transparent;
  width: 600px;
  color: #a9d6e5;
}

.icon {
  transition: transform 150ms;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 768px) {
  #footer {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}
.backButton {
  border: 3px solid #000;
  background-color: #ff6962; /* Peach color */
  color: black; /* Text color */
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.backButton:hover {
  background-color: #f85b53; /* Darker peach color on hover */
}

.backButton:active {
  background-color: #ff4c43; /* Even darker peach color on click */
}
